
<div class="jumbotron">
  <div class="container">
    <h1 style="">Title Case</h1>
    <p>Convert your sentence into a book title.</p>
  </div>
</div>

<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="well">
      <form action="/title"> <!-- to TITLE.ERB -->
        <div class="form-group">
          <label for="title">What would you like to see in title case?</label>
          <input id="title" type="text" class="form-control" name="title">
        </div>
        <button type="submit" class="btn-success" id="send">Send</button>
      </form>
    </div>
  </div>
</div>
